@font-face {
  font-family: "iconfont"; /* Project id 3890335 */
  src: url('iconfont.woff2?t=1676044143062') format('woff2'),
       url('iconfont.woff?t=1676044143062') format('woff'),
       url('iconfont.ttf?t=1676044143062') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-test:before {
  content: "\e633";
}

.icon-test1:before {
  content: "\e634";
}

.icon-test2:before {
  content: "\e635";
}

.icon-test3:before {
  content: "\e636";
}

.icon-test4:before {
  content: "\e637";
}

.icon-test5:before {
  content: "\e638";
}

.icon-test6:before {
  content: "\e639";
}

.icon-test7:before {
  content: "\e63a";
}

.icon-test8:before {
  content: "\e63b";
}

.icon-test9:before {
  content: "\e63c";
}

.icon-test10:before {
  content: "\e63d";
}

.icon-test11:before {
  content: "\e63e";
}

.icon-test12:before {
  content: "\e63f";
}

.icon-test13:before {
  content: "\e640";
}

.icon-test14:before {
  content: "\e641";
}

.icon-test15:before {
  content: "\e642";
}

.icon-test16:before {
  content: "\e643";
}

.icon-test17:before {
  content: "\e644";
}

.icon-test18:before {
  content: "\e645";
}

.icon-test19:before {
  content: "\e646";
}

.icon-test20:before {
  content: "\e647";
}

.icon-test21:before {
  content: "\e648";
}

.icon-test22:before {
  content: "\e649";
}

.icon-test23:before {
  content: "\e64a";
}

.icon-test24:before {
  content: "\e64b";
}

.icon-test25:before {
  content: "\e64c";
}

.icon-test26:before {
  content: "\e64d";
}

.icon-test27:before {
  content: "\e64e";
}

.icon-test28:before {
  content: "\e64f";
}

.icon-test29:before {
  content: "\e650";
}

.icon-test30:before {
  content: "\e651";
}

.icon-test31:before {
  content: "\e652";
}

.icon-test32:before {
  content: "\e653";
}

.icon-test33:before {
  content: "\e654";
}

.icon-test34:before {
  content: "\e655";
}

.icon-test35:before {
  content: "\e656";
}

.icon-test36:before {
  content: "\e657";
}

.icon-test37:before {
  content: "\e658";
}

.icon-test38:before {
  content: "\e659";
}

.icon-test39:before {
  content: "\e65a";
}

.icon-test40:before {
  content: "\e65b";
}

.icon-test41:before {
  content: "\e65c";
}

.icon-test42:before {
  content: "\e65d";
}

.icon-test43:before {
  content: "\e65e";
}

.icon-test44:before {
  content: "\e65f";
}

.icon-test45:before {
  content: "\e660";
}

.icon-test46:before {
  content: "\e661";
}

.icon-test47:before {
  content: "\e662";
}

.icon-test48:before {
  content: "\e663";
}

.icon-test49:before {
  content: "\e664";
}

.icon-test50:before {
  content: "\e665";
}

.icon-test51:before {
  content: "\e666";
}

.icon-test52:before {
  content: "\e667";
}

.icon-test53:before {
  content: "\e668";
}

.icon-test54:before {
  content: "\e669";
}

.icon-test55:before {
  content: "\e66a";
}

.icon-test56:before {
  content: "\e66b";
}

.icon-test57:before {
  content: "\e66c";
}

.icon-test58:before {
  content: "\e66d";
}

.icon-test59:before {
  content: "\e66e";
}

